a, p, h1, h2, h3 {
    color: #212529;

}

a, h1, h2, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.container {
    width: 1376px;
    margin: 0 auto;
}

.top-left {
    top: 0;
    left: 0;
}
  
.top-right {
    top: 0;
    right: 0;
}
  
.bottom-left {
    bottom: 0;
    left: 0;
 }
  
.bottom-right {
    bottom: 0;
    right: 0;
}

/* HEADER BLOCK */
.header {
    margin-top: 12px;
}

.logo {
    width: 70px;
    height: 74.38px;
}


/* NAVIGATION */
.nav_header {
    width: 100%;
    display: flex;
}

.nav_header ul li {
    list-style-type: none;
    margin: 8px 0;
}

.nav_header ul li:first-child {
    margin-top: 0;
}

.nav_header ul li:last-child {
    margin-bottom: 0;
}


.nav_header ul {
    margin: 0;
}

.nav_header a {
    font-size: 18px;
}

.nav_header nav {
    margin: 0 207px 0 auto;
}



/* MAIN BLOCK */

/* FIRST TITLE SCREEN */
.title_screen {
    height: 1107px;
    margin-top: 40px;
}

.title_text_block {
    width: 794px;
    height: 374px;
}

.title_text_block h1 {
    display: inline-block;
    font-size: 72px;
    height: 258px;
}

.title_text_block h2 {
    display: inline-block;
    font-size: 20px;
    width: 445px;
    height: 84px;
    margin-top: 40px;
    font-weight: normal;
}





/* FOOTER BLOCK */

.nav_footer {
    display: flex;
    justify-content: space-between;
    height: 46px;
}

.nav_footer .footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.nav_footer .footer_copy {
    margin-bottom: 4px;
    display: inline-block;
}

.nav_footer .policy {
    margin-top: auto;
    font-size: 16px;
}

.nav_footer .social {
    margin-top: auto;
    display: flex;
    font-size: 18px;
}

.nav_footer .social .vk_footer {
    margin-right: 40px;
}
