a, p, h1, h2, h3 {
    color: #212529;

}

a, h1, h2, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.container {
    width: 1376px;
    margin: 0 auto;
}


/* HEADER BLOCK */
.header {
    margin-top: 12px;
}

.logo {
    width: 70px;
    height: 74.38px;
}


/* NAVIGATION */
.nav_header {
    width: 100%;
    display: flex;
}

.nav_header ul li {
    list-style-type: none;
    margin: 8px 0;
}

.nav_header ul li:first-child {
    margin-top: 0;
}

.nav_header ul li:last-child {
    margin-bottom: 0;
}


.nav_header ul {
    margin: 0;
}

.nav_header a {
    font-size: 18px;
}

.nav_header nav {
    margin: 0 207px 0 auto;
}



/* MAIN BLOCK */

/* FIRST TITLE SCREEN */
.title_screen {
    display: grid;
    height: 1107px;
    margin-top: 40px;
}

.title_text_block {
    width: 794px;
    height: 374px;
    grid-column: 1;
    grid-row: 1;
}

.title_text_block h1 {
    font-family: Helvetica, sans-serif;
    font-style: regular;
    font-weight: normal;
    display: inline-block;
    font-size: 72px;
    height: 258px;
    line-height: 1.2;
}

.title_text_block h2 {
    font-family: roboto, sans-serif;
    display: inline-block;
    font-size: 20px;
    width: 445px;
    height: 84px;
    margin-top: 40px;
    font-weight: normal;
    line-height: 1.4;
}

.order_project {
    font-family: roboto, sans-serif;
    font-size: 18px;
    margin-left: auto;
    margin-top: 235px;
    grid-column: 2;
    grid-row: 1;
}

.order_project .order_project_text {
    border-bottom: 2px solid black;
}

.title_image_mini {
    grid-column: 1;
    grid-row: 2;
}

.title_image_maxi {
    grid-column: 1;
    grid-row: 2;
}







/* FOOTER BLOCK */

.nav_footer {
    display: flex;
    justify-content: space-between;
    height: 46px;
}

.nav_footer .footer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.nav_footer .footer_copy {
    margin-bottom: 4px;
    display: inline-block;
}

.nav_footer .policy {
    margin-top: auto;
    font-size: 16px;
}

.nav_footer .social {
    margin-top: auto;
    display: flex;
    font-size: 18px;
}

.nav_footer .social .vk_footer {
    margin-right: 40px;
}
